.page__header {
  background-color: green;
}
.page__nav {
  background-color: lightgreen;
}
.page__content {
  background-color: red;
  padding: 10px;
}
.page__footer {
  background-color: green;
}

.article {
  padding: 10px;
}
.article--full {
  background-color: orange;
}
.article--summary {
  background-color: lemon;
}
.article--item {
  background-color: yellow;
}

.article__header {
  background-color: #FFD96B;
}
.article__content {
  background-color: #FFD96B;
}
.article__footer {
  background-color: #FFD96B;
}

.tag {
  padding: 10px;
}
.tag--item {
  background-color: silver;
}
