#start {
  h1 {
    padding: 1.5em 0;
    
    .blind   { font-size: 13.60em; }
    .gaenger { font-size: 8.75em; }
    &> div {
      line-height: 0.7em;
    }
  }
  
  p {
    &.alterego { font-size: 2.50em; }
    &.hamburg  { font-size: 2.55em; }
    &.ruby     { font-size: 2.55em; }
    &.happy    { font-size: 4.50em; }
  }
}
