!!! 5
%html
  %head
    %title blindgaenger
    %link(rel="stylesheet" href="stylesheets/reset.css")
    %link(rel="stylesheet" href="stylesheets/layout.css")
    %link(rel="stylesheet" href="stylesheets/fonts.css")
    %link(rel="stylesheet" href="stylesheets/style.css")
    %script(src="javascripts/jquery.js")
    %script(src="javascripts/jquery.anchor.js")
    %script(src="javascripts/application.js")
    
  %body
  
    #container
    
      #content
        %section#start
          %h1 Start
        %section#blog
          %h1 Blog
        %section#twitter
          %h1 Twitter
        %section#posterous
          %h1 Posterous
        %section#facebook
          %h1 Facebook
        %section#github
          %h1 Github
      
      #sidebar
        %nav
          %ul
            %li 
              %a(href='#start') Start
            %li
              %a(href='#blog') Blog
            %li 
              %a(href='#twitter')Twitter
            %li 
              %a(href='#posterous') Posterous
            %li 
              %a(href='#facebook') Facebook
            %li 
              %a(href='#github') Github
