!!! 5
%html
  %head
    %title blindgaenger
    %link(rel="stylesheet" href="stylesheets/reset.css")
    %link(rel="stylesheet" href="stylesheets/layout.css")
    %link(rel="stylesheet" href="stylesheets/style.css")
    %script(src="javascripts/jquery.js")
    %script(src="javascripts/application.js")
    
  %body
  
    #container
    
      %h1 blindgaenger