#container {
	width: 800px;
	margin: 0 auto;
	
	#content {
  	width: 600px;
  	float: left;
  }

  #navigation {
  	float: left;
  	
  	nav {
    	width: 200px;
    	position: fixed;
    }
  }
  
  #icon {
  	float: left;
  	
  	img {
    	width: 200px;
    	height: 200px;
    	position: fixed;
    	bottom:0;
    }
  }
  
}
