- content_for :navigation do
  %li 
    %a.current(href='#start') Start

- content_for :icon do
  %img.current(src='/images/start.png' alt='start')

%h1
  %a#start blindgaenger

.text
  %p This is the homepage of my alter ego blindgaenger.
  %p I'm interested in various aspects of software.
  %p So check out my Blog about development and some life-hacking.
  %p Maybe follow me on Twitter instead.
  %p Or fork one of my projects on GitHub if you dare.
  %p Everything else will be logged on Tumblr.
  %p If you're a kind person and know how to use Facebook I'll add you.
  %p So please feel free to Contact me.
