- content_for :navigation do
  %li 
    %a(href='#start') Start

- content_for :icon do
  %img(src='/images/start.png' alt='start')

%section#start
  
  %h1
    .blind blind
    .gaenger gaenger

  %hr
  
  %p.alterego An alter ego of Bernd Jünger
  %p.hamburg Currently living in Hamburg
  %p.ruby Developing software in Ruby
  %p.happy Happy to be me!
