html, body {
  font: 1em 'SilkscreenNormal', Arial, sans-serif;
  background: url("/images/black.jpg") repeat scroll 0 0 #202020;
  color:white;
}

#content {
  h1 {
    font-size: 5em;
  }
}

#sidebar {
  nav {
    font-size: 2em;

    li {
      list-style:none inside;
      margin:10px 0;
    
      a {
        text-decoration:none;
        background: url("/images/white.jpg") repeat scroll 0 0 #202020;
        color: black;
        
        &.current {
          background: url("/images/red.jpg") repeat scroll 0 0 #202020;
          color:white;
        }
      }
    }
  }
}

#icon {
  img {
    display:none;
    
    &.current {
      display:block;    
    }
  }
}

// DEBUG stuff

section, nav {
/*  border: 1px solid red;*/
}

#content section {
  height: 800px;
}
