@font-face {
    font-family: 'SilkscreenNormal';
    src: url('/fonts/slkscr-webfont.eot?') format('eot'),
         url('/fonts/slkscr-webfont.woff') format('woff'),
         url('/fonts/slkscr-webfont.ttf') format('truetype'),
         url('/fonts/slkscr-webfont.svg#webfontHBX5If3r') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SilkscreenBold';
    src: url('/fonts/slkscrb-webfont.eot?') format('eot'),
         url('/fonts/slkscrb-webfont.woff') format('woff'),
         url('/fonts/slkscrb-webfont.ttf') format('truetype'),
         url('/fonts/slkscrb-webfont.svg#webfontEFj45YPC') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SketchRockwellRegular';
    src: url('/fonts/sketchrockwell-bold-webfont.eot?') format('eot'),
         url('/fonts/sketchrockwell-bold-webfont.woff') format('woff'),
         url('/fonts/sketchrockwell-bold-webfont.ttf') format('truetype'),
         url('/fonts/sketchrockwell-bold-webfont.svg#webfontvXJoooDF') format('svg');
    font-weight: normal;
    font-style: normal;

}
