<!DOCTYPE html>
<html lang="en-US">
  <head>
      <meta charset="utf-8">
      <title>{{ .Title }} - {{ .Site.Title }}</title>
      {{with .Description }}<meta name="description" content="{{ . }}">{{end}}
      <link rel="stylesheet" href="/stylesheets/reset.css">
      <link rel="stylesheet" href="/stylesheets/app.css">
      <link rel="stylesheet" href="/stylesheets/debug.css">
      <link rel="canonical" href="{{ .Permalink }}">
      <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
      <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
  </head>
  <body lang="en" class="page">
    <header class="page__header">
      <h1>{{ .Site.Title }}</h1>
    </header>
    <nav class="page__nav">
      <ul>
        <li><a href="{{ .Site.BaseURL }}">Home</a></li>
        <li><a href="/articles/">Articles</a></li>
        <li><a href="/tags/">Tags</a></li>
      </ul>
    </nav>
    <main role="main" class="page__content">
